html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  line-height: 1.35rem;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 2rem 0;
}

a {
  font-weight: 500;
  color: #0787f7;
  text-decoration: none;
}

a:hover {
  color: #0787f7a3;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 2.5rem 1.25rem;
}

.portrait {
  max-width: 100%;
  box-shadow: 0.3em 0.3em #0787f770;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 0.85rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  .conainer {
    padding: 4rem 2rem;
  }

  .portrait {
    box-shadow: 0.5em 0.5em #0787f770;
  }
}
